@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Playfair+Display:wght@400;700;900&family=Roboto:wght@100;300;400;900&display=swap");
/*Обнуление некоторых стандартных стилей CSS браузера*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/*--------------------------------------------------*/
header .heading, #about .company_story, .video_story .play_wrapper, #expertise .expertise_wraper {
  max-width: 941px;
  margin: 0 auto; }

#about .company_story .story_box h2, #expertise .expertise_wraper .top_content_expertise h2 {
  font-family: 'Playfair Display',serif;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.05em; }

header .middle_content a, #about .company_story .story_box a {
  display: inline-block;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 400;
  color: #00e0d0;
  text-transform: uppercase;
  height: 40px;
  border: 1px solid #00e0d0;
  text-align: center; }

header {
  background: url("../../img/purple_frontlayer1.png") no-repeat, url("../../img/forest_backlayer.png") no-repeat; }
  header .heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    header .heading .logo h1 {
      background-image: -webkit-gradient(linear, left top, right top, from(#00e0d0), to(#4aa3cc));
      background-image: -webkit-linear-gradient(left, #00e0d0 0%, #4aa3cc 100%);
      background-image: -o-linear-gradient(left, #00e0d0 0%, #4aa3cc 100%);
      background-image: linear-gradient(90deg, #00e0d0 0%, #4aa3cc 100%);
      font-family: 'Roboto', sans-serif;
      font-size: 30px;
      line-height: 1.2;
      margin: 26px 0 0 0;
      font-weight: 100;
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      position: relative;
      padding: 0 0 0 55px; }
      header .heading .logo h1:before {
        content: '';
        background: url("../../img/Icons/logo.png") 0 0 no-repeat;
        width: 44px;
        height: 50px;
        top: 0;
        left: 0;
        position: absolute; }
    header .heading nav {
      margin: 36px 0 0 0;
      width: 526px; }
      header .heading nav ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        line-height: 1.2;
        font-weight: 900;
        letter-spacing: 0.025em;
        text-transform: uppercase; }
        header .heading nav ul li a {
          color: #ffffff; }
        header .heading nav ul li:first-child a {
          color: #00e0d0; }
  header .middle_content {
    text-align: center;
    max-width: 771px;
    margin: 0 auto; }
    header .middle_content h2 {
      font-family: 'Playfair Display', serif;
      font-size: 32px;
      line-height: 1.2;
      font-weight: 900;
      letter-spacing: 0.01em;
      color: #ffffff;
      text-transform: capitalize;
      margin: 173px 0 0 0; }
    header .middle_content span {
      display: inline-block;
      width: 50px;
      height: 1px;
      background-color: #00e0d0;
      margin: 21px 0 0 0; }
    header .middle_content p {
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      line-height: 24px;
      font-weight: 300;
      letter-spacing: 0.05em;
      color: #ffffff;
      margin: 30px 0 0 0; }
    header .middle_content a {
      width: 120px;
      margin: 50px 0 0 0; }
  header .triggers {
    width: 55px;
    margin: 127px auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 0 70px 0; }
    header .triggers span {
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 1px solid #c2c2c2; }
      header .triggers span:first-child {
        background-color: #00e0d0; }

#about {
  background: #ffffff; }
  #about .company_story .story_box {
    position: relative;
    padding: 71px 0 0 403px;
    height: 296px;
    margin: 0 0 111px 0; }
    #about .company_story .story_box h2 {
      color: #413d4b; }
    #about .company_story .story_box p {
      opacity: 0.74;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      line-height: 22px;
      font-weight: 300;
      letter-spacing: 0.03em;
      color: #413d4b;
      margin: 28px 0 0 0; }
      #about .company_story .story_box p:nth-child(3) {
        margin: 10px 0 0 0; }
    #about .company_story .story_box a {
      width: 120px;
      margin: 31px 0 0 0; }
    #about .company_story .story_box:before {
      content: '';
      display: inline-block;
      background: url("../../img/logo-two.png") no-repeat;
      position: absolute;
      width: 110%;
      height: 110%;
      top: 70px;
      left: 68px; }

.video_story {
  background: url("../../img/frontlayer_ourstory.png") 0 0 no-repeat, url("../../img/backlayer_our_story.png") 0 0 no-repeat; }
  .video_story .play_wrapper {
    text-align: center;
    padding: 202px 392px; }
    .video_story .play_wrapper a {
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      line-height: 1.2;
      font-weight: 900;
      letter-spacing: 0.05em;
      color: #ffffff;
      text-transform: uppercase;
      white-space: nowrap;
      display: block; }
      .video_story .play_wrapper a:before {
        display: block;
        content: '';
        background: url("../../img/Icons/play1.png") no-repeat, url("../../img/Icons/play2.png") 35px 27px no-repeat;
        width: 100px;
        height: 100px;
        margin: 0 28px 34px 28px; }

#expertise {
  background: #fff;
  padding: 72px 0 101px 0; }
  #expertise .expertise_wraper .top_content_expertise {
    text-align: center; }
    #expertise .expertise_wraper .top_content_expertise h2 {
      color: #413d4b;
      margin: 0 0 16px 0; }
    #expertise .expertise_wraper .top_content_expertise p {
      opacity: 0.74;
      font-family: 'Playfair Display', serif;
      font-size: 14px;
      line-height: 1.2;
      font-weight: 400;
      letter-spacing: 0.075em;
      color: #2f2d35; }
    #expertise .expertise_wraper .top_content_expertise span {
      display: inline-block;
      width: 50px;
      height: 2px;
      opacity: 0.3;
      background-color: #413d4b;
      margin: 18px 0 0 0; }
  #expertise .expertise_wraper .main_content_expertise {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (254px)[3];
    grid-template-columns: repeat(3, 254px);
    grid-auto-rows: 178px;
    grid-column-gap: 66px;
    grid-row-gap: 79px;
    justify-items: center; }
    #expertise .expertise_wraper .main_content_expertise div {
      text-align: center; }
    #expertise .expertise_wraper .main_content_expertise h2 {
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      line-height: 1.2;
      font-weight: 900;
      letter-spacing: 0.05em;
      color: #413d4b;
      text-transform: uppercase;
      margin: 0 0 25px 0; }
    #expertise .expertise_wraper .main_content_expertise p {
      opacity: 0.74;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      line-height: 22px;
      font-weight: 300;
      letter-spacing: 0.05em;
      color: #333333; }
    #expertise .expertise_wraper .main_content_expertise .tile_web_dev h2:before {
      content: '';
      background: url("../../img/Icons/expertise_icon_web.png");
      display: block;
      width: 49px;
      height: 50px;
      margin: 0 102.5px 35px 102.5px; }
    #expertise .expertise_wraper .main_content_expertise .tile_identity h2:before {
      content: '';
      background: url("../../img/Icons/expertise_icon_branding.png");
      display: block;
      width: 50px;
      height: 42px;
      margin: 4px 102px 39px 102px; }
    #expertise .expertise_wraper .main_content_expertise .tile_mobile h2:before {
      content: '';
      background: url("../../img/Icons/expertise_icon_mobile.png");
      display: block;
      width: 28px;
      height: 50px;
      margin: 0 113px 35px 113px; }
    #expertise .expertise_wraper .main_content_expertise .tile_seo h2:before {
      content: '';
      background: url("../../img/Icons/expertise_icon_seo.png");
      display: block;
      width: 50px;
      height: 50px;
      margin: 0 102px 35px 102px; }
    #expertise .expertise_wraper .main_content_expertise .tile_gamedev h2:before {
      content: '';
      background: url("../../img/Icons/expertise_icon_gamedev.png");
      display: block;
      width: 41px;
      height: 50px;
      margin: 0 106.5px 35px 106.5px; }
    #expertise .expertise_wraper .main_content_expertise .tile_mwl h2:before {
      content: '';
      background: url("../../img/Icons/expertise_icon_mwl.png");
      display: block;
      width: 50px;
      height: 46px;
      margin: 0 102px 39px 102px; }
